ion-content {
    --background: url('Pictures/background.jpg') no-repeat 55%;
    padding-bottom: 50px;
}

ion-footer {
    position: sticky;
    bottom: 0;
    width: 100%;

}

#img-main {
    width: 100%;
}

#select-output {
    color: rgb(39, 39, 39);
}


ion-select {
    color: black !important; 
    font-weight: bolder;
}


#img-list-display {
    width: 300px; 
    height: 300px;
}

ion-list {
    height: 400px;
}

ion-label {
    text-align: center;
    color: black;
}


ion-img {
    width: 150px; 
    height: 200px;
}